@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300');

@keyframes pop {
    0%   {transform: scale(1.0);}
    50%  {transform: scale(1.2);}
    100% {transform: scale(1.0);}
}

html, body {
  height: 100%;
  width: 100%;

  overflow: hidden;
  font-family: "InterstateL", Helvetica, Arial, sans-serif;
  user-select: none;

  background: #eceff1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;

  * {
    position: fixed;
  }
}

r-dot {
  background: #e91e63;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  text-align: center;
  line-height: 60px;
  color: white;
  font-weight: 500;
  font-size: 20px;

  transition: transform 0.15s ease;

  z-index: 999;

  font-family: "InterstateBold";
  padding-top: 2px;

  &.pop {
    animation: pop 0.25s;
  }
}

r-total {
  font-family: "Roboto Mono";
  font-weight: 100;
  letter-spacing: -5px;
  right: 24px;
  top: 0px;

  font-size: 7.5em;
  z-index: 999;
}

r-current {
  font-family: "Roboto Mono";
  font-weight: 300;
  letter-spacing: -5px;
  right: 34px;
  top: 130px;

  font-size: 2.5em;
  z-index: 999;
}

r-upgrades {
  font-family: "InterstateL";
  right: 0;
  bottom: 0;
  width: 250px;
  display: block;
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;

  z-index: 999;

  header {
    padding: 20px 0 0 20px;
    color: #424242;

    h1 {
      font-family: "InterstateBold";
      font-size: 1.2em;
      margin: 0;
    }
  }

  hr {
    background: none;
    border: none;
    border-bottom: 1px solid #e0e0e0;
  }

  .upgrades-list {
    margin: 0;
    list-style-type: none;
    padding: 0;

    li {
      h1 {
        font-family: "InterstateL";
        color: #424242;
        font-size: 1em;
        margin: 0;
        flex: 1 0 100%;
      }

      small {
        font-family: "InterstateBold";
        text-transform: uppercase;
        font-size: 0.7em;
        color: #9e9e9e;
        flex: 1 0 100%;
        margin-top: -10px;
      }

      height: 50px;
      padding-left: 20px;

      display: flex;
      align-items: center;
      flex-wrap: wrap;

      transition: background 0.2s ease;

      &:hover {
        background: white;
        cursor: pointer;
      }

      &.disabled {
        cursor: default !important;
        opacity: 0.5 !important;
        pointer-events: none !important;

        &:hover {
          background: transparent;
          cursor: default;
        }
      }
    }
  }
}
