@font-face {
  font-family: "InterstateBold";
  src: url('/assets/fonts/Interstate-Bold.otf');
}

@font-face {
  font-family: "InterstateELC";
  src: url('/assets/fonts/Interstate-ExtraLightCond.otf');
}

@font-face {
  font-family: "InterstateL";
  src: url('/assets/fonts/Interstate-Light.otf');
}
